<nav class="navbar navbar-expand-md fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="./order">
      <img src="assets/images/logo.png" alt="TheCaliCampTeaches">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bars"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="./order">Order</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="./testimonial">Testimonials</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="./team">Team</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="./voucher">Voucher</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <link-logout></link-logout>
        </li>
      </ul>
      <div>
        <ul class="social-media">
          <li>
            <a href="#" class="icon-facebook"></a>
          </li>
          <li>
            <a href="#" class="icon-pinterest2"></a>
          </li>
          <li>
            <a href="#" class="icon-tripadvisor"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
