// Colors
$black: #000;
$white: #fff;
$blue: #00b0ff;
$dark-blue: #0022ff;
$gray: #4d4d4d;
$mid-gray: #8c8c8c;
$light-gray: #f7f7f7;
$yellow: #f2d800;

$base-font-sans-serif: 'Raleway', 'Helvetica Neue', 'Helvetica', sans-serif;
$second-font-sans-serif: 'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Playfair Display', 'Times', 'Baskerville', 'Georgia', serif;


// Body
$base-text-color: $black !default;
$base-background-color: $white !default;
$font-size-base: 16px !default;
$line-height-base: 1.5 !default;
$base-font-family: $base-font-sans-serif !default;
$font-weight-bold: 800;

$base-min-width: 320px;
$base-max-width: 1030px;

// Links
$base-link-color: $blue;

// Buttons
$btn-color: $white !default;
$btn-background: $blue !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;
$btn-font-family: $second-font-sans-serif !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 20px !default;
$h2-font-size: 18px !default;
$h3-font-size: 16px !default;


$animation-speed: 0.3s;
