<section class="register">
  <div class="container">
    <div class="base-container">
      <div class="row">
        <div class="col-md-6">
          <h1>Forgot your Password</h1>
          <p>Please enter your email</p>
          <div *ngIf="success">
            <div class="alert alert-success" role="alert">
              Mail sent. Please check your email and click the link in it.
            </div>
          </div>
          <form (ngSubmit)="reset(email.value)" *ngIf="!success">
            <div class="form-group">
              <input type="email" class="form-control {{error && error.email && 'is-invalid'}}" id="email-login" #email placeholder="name@example.com" required>
              <div class="invalid-feedback">
                {{error && error.email}}
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
