<section class="register">
  <div class="container">
    <div class="base-container">
      <div class="row">
        <div class="col-md-6">
          <h1>Change your Password</h1>
          <p>Please enter your new password</p>
          <div *ngIf="success">
            <div class="alert alert-success" role="alert">
              Password reseted. You can now login in.
            </div>
          </div>
          <form (ngSubmit)="set(password.value)" *ngIf="!success">
            <div class="form-group">
              <input type="password" class="form-control {{error && error.email && 'is-invalid'}}" id="email-login" #password placeholder="Your password" required>
              <div class="invalid-feedback">
                {{error && error.password}}
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn">Change</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
