// Typography
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: $second-font-sans-serif;
  font-weight: $font-weight-bold;
  margin: 0 0 1em;
}

h1, .h1 {
  font-size: $h1-font-size;
}

h2, .h2 {
  font-size: $h2-font-size;
}

h3, .h3 {
  font-size: $h3-font-size;
}

p {
  margin: 1em 0;
}

a {
  color: $base-link-color;
}
