<section>
  <div class="container">
    <div class="base-container">
      <div class="row">
        <div class="col-md-6">
          <h1>Add Testimonial</h1>
          <p>
            <button class="btn btn-default" [routerLink]="['../../testimonial']">Back</button>
          </p>
          <div *ngIf="success">
            <div class="alert alert-success" role="alert">
              Testimonial created <a [routerLink]="['../../testimonial']">Back to List</a>
            </div>
          </div>
          <form (ngSubmit)="add(firstname.value, lastname.value, quote.value, onlineState.value)" *ngIf="!success" enctype="multipart/form-data">
            <div class="form-group">
              <input type="text" class="form-control {{error && error.firstname && 'is-invalid'}}" #firstname placeholder="Firstname" required>
              <div class="invalid-feedback">
                {{error && error.firstname}}
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control {{error && error.lastname && 'is-invalid'}}" placeholder="Lastname" #lastname required>
              <div class="invalid-feedback">
                {{error && error.lastname}}
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control {{error && error.quote && 'is-invalid'}}" placeholder="Quote" #quote required></textarea>
              <div class="invalid-feedback">
                {{error && error.quote}}
              </div>
            </div>
            <div class="form-group">
              <input type="file" class="form-control {{error && error.file && 'is-invalid'}}" id="image" name="image">
              <div class="invalid-feedback">
                {{error && error.file}}
              </div>
            </div>
            <div class="form-group">
              <select #onlineState class="form-control">
                <option value="true">Online</option>
                <option value="false">Offline</option>
              </select>
              <div class="invalid-feedback">
                {{error && error.onlineState}}
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
