<section>
  <div class="container">
    <div class="base-container">
      <div class="row">
        <div class="col-md-6">
          <h1>Add Team</h1>
          <p>
            <button class="btn btn-default" [routerLink]="['../../team']">Back</button>
          </p>
          <div *ngIf="success">
            <div class="alert alert-success" role="alert">
              Team created <a [routerLink]="['../../team']">Back to List</a>
            </div>
          </div>
          <form (ngSubmit)="add(firstname.value, lastname.value, email.value, location.value, onlineState.value)" *ngIf="!success" enctype="multipart/form-data">
            <div class="form-group">
              <input type="text" class="form-control {{error && error.firstname && 'is-invalid'}}" #firstname placeholder="Firstname" required>
              <div class="invalid-feedback">
                {{error && error.firstname}}
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control {{error && error.lastname && 'is-invalid'}}" placeholder="Lastname" #lastname required>
              <div class="invalid-feedback">
                {{error && error.lastname}}
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control {{error && error.email && 'is-invalid'}}" placeholder="E-Mail" #email required>
              <div class="invalid-feedback">
                {{error && error.email}}
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control {{error && error.location && 'is-invalid'}}" placeholder="Loction" #location required>
              <div class="invalid-feedback">
                {{error && error.location}}
              </div>
            </div>
            <div class="form-group">
              <input type="file" class="form-control {{error && error.file && 'is-invalid'}}" id="image" name="image">
              <div class="invalid-feedback">
                {{error && error.file}}
              </div>
            </div>
            <div class="form-group">
              <select #onlineState class="form-control">
                <option value="true">Online</option>
                <option value="false">Offline</option>
              </select>
              <div class="invalid-feedback">
                {{error && error.onlineState}}
              </div>
            </div>
            <div class="form-group">
              <button *ngIf="isSubmitting" class="btn btn-default" disabled><img src="assets/images/ajax-loader.gif" /> Loading...</button>
              <button *ngIf="!isSubmitting" type="submit" class="btn">Create</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>
