.about-us{
  background: url("../images/aboutus-bg.jpg");
  margin: 7.813em 0;
  padding-top: 16.250rem;
  position: relative;

  .left-col{
    background: $white;
    width: 50%;
    min-height: 300px;
  }
  .container{
    position: absolute;
    top: 16.250rem;
    left: 50%;
    transform: translate(-50%); //magic
  }
}
