.footer{
  background: $black;
  color: $white;
  margin-top: 7.813rem;
  padding: 2.813rem 0;

  .row:not(:last-child){
    padding-bottom: 1.25rem;
  }

  nav{
    margin-left: -5px;
    margin-top: -10px;

    ul{
      list-style: none;
      padding: 0;
    }

    li{
      display: flex;
      align-items: flex-end;
    }

    .icon-waves{
      color: $yellow;
      margin: 0 0.5rem 0 0;
      font-size: 2rem;
    }

    a{
      color: $white;

      &:hover{
        color: $white;
      }
    }
  }

  .nl-form{
    h2{
      font-size: 1rem;
    }

    .form-holder{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $gray;
      padding: .625rem 0;
      max-width: 300px;
      color: $gray;

      .icon-mail-envelope-closed{
        font-size: 1.5rem;
        padding: 0 .5rem 0 0;
      }

      .form-element{
        background: none;
        border: none;
        outline: none;
        color: inherit;
      }

      .btn{
        @include borderradius(50%);
        width: 1.438rem;
        height: 1.438rem;
        padding: 0;
        cursor: pointer;
      }
    }
  }

  .copyright{
    color: $gray;
    margin: 0;
    padding: 0;
    font-size: .75rem;

    li{
      display: inline-block;
    }
  }
}
