.intro{
  text-align: center;
  padding: 7.813em 0;

  h1{
    font-size: 3.125rem;
    font-family: $base-font-serif;
    font-style: italic;
    margin: 0;
  }
  h2{
    font-size: 1.5rem;
    font-family: $base-font-serif;
    font-style: italic;
    color: $white;
  }
}
