<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <nav>
          <ul>
            <li><span class="icon-waves"></span><a href="#">About</a></li>
            <li><span class="icon-waves"></span><a href="#">Boards</a></li>
            <li><span class="icon-waves"></span><a href="#">Accessoires</a></li>
            <li><span class="icon-waves"></span><a href="#">Blog</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-3">
        <nav>
          <ul>
            <li><span class="icon-waves"></span><a href="#">Technology</a></li>
            <li><span class="icon-waves"></span><a href="#">Team</a></li>
            <li><span class="icon-waves"></span><a href="#">Dealers</a></li>
            <li><span class="icon-waves"></span><a href="#">Contact us</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-6">
        <div class="nl-form">
          <h2>Subscribe to our newsletter</h2>
          <form action="#">
            <div class="form-holder">
              <span class="icon-mail-envelope-closed"></span>
              <input type="email" placeholder="Your e-mail" class="form-element">
              <button type="submit" class="btn">
                <span class="icon-arrow-right2"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="copyright">
          <li>© 2017 Surfers Co.</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
